@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Road+Rage&family=Seaweed+Script&display=swap');

body {
  font-family: 'Lobster Two', cursive;
  font-size: 18px;
  line-height: 1.5;
  background: url(../img/smoke.png) top left / cover no-repeat;
  background-color: rgba(7, 8, 7, 0.959);

}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(41, 175, 110, 0.274);
  border-radius: 5%;
}

.header {
  text-align: center;
  background: url(../img/lovecraft.png) 50px 0 / 100px no-repeat;
}
.main {
  margin: 0 15px;
}
h1 {
  font-size: 40px;
  margin: 10px 0 30px;
}
ul {
  margin-bottom: 20px;
}
.menu li {
  display: inline-block;
}
.menu li+li {
  margin-left: 30px;
}
h2 {
  font-family: 'Seaweed Script', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.block-1 {
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px#000;
  margin: 0 15px 20px;
}
.block-2 {
  margin-bottom: 20px;
}
.block-2 > p {
  opacity: 0.6;
}
.block-3 {
  background: url(../img/mtizgs.png) 0 0 / cover no-repeat fixed;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: -5px -5px 5px 5px rgb(9, 31, 3);
  margin-bottom: 20px;
}
.block-4 {
  background: linear-gradient(0deg, rgba(27,65,21,1) 0%, rgba(16,36,14,1) 100%);
  border-radius: 7%;
  overflow: hidden;
  box-shadow: 5px 5px 5px 6px  rgb(0, 0, 0);
  margin-bottom: 30px;
}
.block-5 {
  background: url(../img/alien.jpg) 0 0 / cover no-repeat fixed;
  border-radius: 15%;
  overflow: hidden;
  box-shadow: 5px 5px 5px 6px  rgb(0, 0, 0)
}
.item-list {
  background: url(../img/kissp.png) 0 0 / 50px no-repeat;
  min-height: 50px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.footer {
  font-family: 'Road Rage', cursive;
  border: 20px solid transparent;
  word-spacing: 5px;
  letter-spacing: 4px;
}
footer > a {
  outline: 5px dashed rgb(0, 0, 0);
}